In [1]:
#Installing and upgrading the necessary modules.
pip install --upgrade --quiet  langchain langchain-community langchain-experimental

Note: you may need to restart the kernel to use updated packages.

In [2]:
#Import required libraries.
from langchain_community.utilities.sql_database import SQLDatabase

In [3]:
#Define the variables for connecting to a PostgreSQL database.
database = "flight_data"  
username = "postgres"
password = "9066"
host = "localhost"
port = '5433'

In [4]:
#Define the connection string for connceting to a PostgreSQL Database.
db_uri = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"

In [5]:
#Connection to the PostgreSQL database specified by the URI.
db = SQLDatabase.from_uri(db_uri)

In [9]:
#Import necessary libraries.
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI
import os

In [10]:
#Set up your OpenAI API key.
os.environ["OPENAI_API_KEY"] = "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"

In [11]:
OPENAI_API_KEY = os.environ["OPENAI_API_KEY"]

In [12]:
#Define llm using ChatOpenAI.
llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)

#Create an SQL Agent.
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [18]:
#Invoke the agent which will interact with the SQL agent and execute SQL queries against the connected database.
agent_executor.invoke(
    "Calculate average departure delay as per months from flight table"
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


amc_data, cleaned_flight_data
Invoking: `sql_db_schema` with `{'table_names': 'cleaned_flight_data'}`



CREATE TABLE cleaned_flight_data (
	"FL_DATE" DATE,
	"DEP_DELAY" SMALLINT,
	"ARR_DELAY" SMALLINT,
	"AIR_TIME" SMALLINT,
	"DISTANCE" SMALLINT,
	"DEP_TIME" REAL,
	"ARR_TIME" REAL
)

/*
3 rows from cleaned_flight_data table:
FL_DATE	DEP_DELAY	ARR_DELAY	AIR_TIME	DISTANCE	DEP_TIME	ARR_TIME
2006-01-01	5	19	350	2475	9.083333	12.483334
2006-01-02	167	216	343	2475	11.783334	15.766666
2006-01-03	-7	-2	344	2475	8.883333	12.133333
*/
Invoking: `sql_db_query` with `SELECT EXTRACT(MONTH FROM FL_DATE) AS month, AVG(DEP_DELAY) AS avg_departure_delay FROM cleaned_flight_data GROUP BY month ORDER BY month`


Error: (psycopg2.errors.UndefinedColumn) column "fl_date" does not exist
LINE 1: SELECT EXTRACT(MONTH FROM FL_DATE) AS month, AVG(DEP_DELAY) ...
                                  ^

[SQL: SELECT EXTRACT(MONTH FROM FL_DATE) AS month, AVG(DEP_DELAY) AS avg_departure_delay FROM cleaned_flight_data GROUP BY month ORDER BY month]
(Background on this error at: https://sqlalche.me/e/20/f405)
Invoking: `sql_db_query_checker` with `SELECT EXTRACT(MONTH FROM "FL_DATE") AS month, AVG("DEP_DELAY") AS avg_departure_delay FROM cleaned_flight_data GROUP BY month ORDER BY month`


SELECT EXTRACT(MONTH FROM "FL_DATE") AS month, AVG("DEP_DELAY") AS avg_departure_delay
FROM cleaned_flight_data
GROUP BY month
ORDER BY month;
Invoking: `sql_db_query` with `SELECT EXTRACT(MONTH FROM "FL_DATE") AS month, AVG("DEP_DELAY") AS avg_departure_delay FROM cleaned_flight_data GROUP BY month ORDER BY month`


[(Decimal('1'), Decimal('8.0560749302790592')), (Decimal('2'), Decimal('9.4403540605299277'))]The average departure delay per month from the flight data is as follows:
- January: 8.06 minutes
- February: 9.44 minutes

> Finished chain.

{'input': 'Calculate average departure delay as per months from flight table',
 'output': 'The average departure delay per month from the flight data is as follows:\n- January: 8.06 minutes\n- February: 9.44 minutes'}

In [19]:
agent_executor.invoke({"input": "Describe the schema of the flight table"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


amc_data, cleaned_flight_data
Invoking: `sql_db_schema` with `{'table_names': 'cleaned_flight_data'}`



CREATE TABLE cleaned_flight_data (
	"FL_DATE" DATE,
	"DEP_DELAY" SMALLINT,
	"ARR_DELAY" SMALLINT,
	"AIR_TIME" SMALLINT,
	"DISTANCE" SMALLINT,
	"DEP_TIME" REAL,
	"ARR_TIME" REAL
)

/*
3 rows from cleaned_flight_data table:
FL_DATE	DEP_DELAY	ARR_DELAY	AIR_TIME	DISTANCE	DEP_TIME	ARR_TIME
2006-01-01	5	19	350	2475	9.083333	12.483334
2006-01-02	167	216	343	2475	11.783334	15.766666
2006-01-03	-7	-2	344	2475	8.883333	12.133333
*/The `cleaned_flight_data` table has the following schema:
- FL_DATE: DATE
- DEP_DELAY: SMALLINT
- ARR_DELAY: SMALLINT
- AIR_TIME: SMALLINT
- DISTANCE: SMALLINT
- DEP_TIME: REAL
- ARR_TIME: REAL

Here are 3 sample rows from the `cleaned_flight_data` table:
1. FL_DATE: 2006-01-01, DEP_DELAY: 5, ARR_DELAY: 19, AIR_TIME: 350, DISTANCE: 2475, DEP_TIME: 9.083333, ARR_TIME: 12.483334
2. FL_DATE: 2006-01-02, DEP_DELAY: 167, ARR_DELAY: 216, AIR_TIME: 343, DISTANCE: 2475, DEP_TIME: 11.783334, ARR_TIME: 15.766666
3. FL_DATE: 2006-01-03, DEP_DELAY: -7, ARR_DELAY: -2, AIR_TIME: 344, DISTANCE: 2475, DEP_TIME: 8.883333, ARR_TIME: 12.133333

> Finished chain.

{'input': 'Describe the schema of the flight table',
 'output': 'The `cleaned_flight_data` table has the following schema:\n- FL_DATE: DATE\n- DEP_DELAY: SMALLINT\n- ARR_DELAY: SMALLINT\n- AIR_TIME: SMALLINT\n- DISTANCE: SMALLINT\n- DEP_TIME: REAL\n- ARR_TIME: REAL\n\nHere are 3 sample rows from the `cleaned_flight_data` table:\n1. FL_DATE: 2006-01-01, DEP_DELAY: 5, ARR_DELAY: 19, AIR_TIME: 350, DISTANCE: 2475, DEP_TIME: 9.083333, ARR_TIME: 12.483334\n2. FL_DATE: 2006-01-02, DEP_DELAY: 167, ARR_DELAY: 216, AIR_TIME: 343, DISTANCE: 2475, DEP_TIME: 11.783334, ARR_TIME: 15.766666\n3. FL_DATE: 2006-01-03, DEP_DELAY: -7, ARR_DELAY: -2, AIR_TIME: 344, DISTANCE: 2475, DEP_TIME: 8.883333, ARR_TIME: 12.133333'}

In [ ]:
#TOOLKIT
#We can look at what runs under the hood with the create_sql_agent helper above.
#We can also highlight how the toolkit is used with the agent specifically.

In [20]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import ChatOpenAI

toolkit = SQLDatabaseToolkit(db=db, llm=ChatOpenAI(temperature=0))
context = toolkit.get_context()
tools = toolkit.get_tools()

In [25]:
context

{'table_info': '\nCREATE TABLE amc_data (\n\tname TEXT\n)\n\n/*\n3 rows from amc_data table:\nname\nSahara Mutual Fund\nTaurus Mutual Fund\nBaroda Mutual Fund\n*/\n\n\nCREATE TABLE cleaned_flight_data (\n\t"FL_DATE" DATE, \n\t"DEP_DELAY" SMALLINT, \n\t"ARR_DELAY" SMALLINT, \n\t"AIR_TIME" SMALLINT, \n\t"DISTANCE" SMALLINT, \n\t"DEP_TIME" REAL, \n\t"ARR_TIME" REAL\n)\n\n/*\n3 rows from cleaned_flight_data table:\nFL_DATE\tDEP_DELAY\tARR_DELAY\tAIR_TIME\tDISTANCE\tDEP_TIME\tARR_TIME\n2006-01-01\t5\t19\t350\t2475\t9.083333\t12.483334\n2006-01-02\t167\t216\t343\t2475\t11.783334\t15.766666\n2006-01-03\t-7\t-2\t344\t2475\t8.883333\t12.133333\n*/',
 'table_names': 'amc_data, cleaned_flight_data'}

In [21]:
tools

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f9511cba910>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f9511cba910>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f9511cba910>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f9511cba910>, llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x7f95201e73a0>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x7f951adcb550>, temperature=0.0, openai_api_key=SecretStr('**********'), openai_proxy=''), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x7f95201e73a0>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x7f951adcb550>, temperature=0.0, openai_api_key=SecretStr('**********'), openai_proxy='')))]

In [ ]:
#Use SQLDatabaseToolkit within an Agent.

In [22]:
from langchain_community.agent_toolkits.sql.prompt import SQL_FUNCTIONS_SUFFIX
from langchain_core.messages import AIMessage, SystemMessage
from langchain_core.prompts.chat import (
    ChatPromptTemplate,
    HumanMessagePromptTemplate,
    MessagesPlaceholder,
)

messages = [
    HumanMessagePromptTemplate.from_template("{input}"),
    AIMessage(content=SQL_FUNCTIONS_SUFFIX),
    MessagesPlaceholder(variable_name="agent_scratchpad"),
]

prompt = ChatPromptTemplate.from_messages(messages)
prompt = prompt.partial(**context)

In [26]:
prompt

ChatPromptTemplate(input_variables=['agent_scratchpad', 'input'], input_types={'agent_scratchpad': typing.List[typing.Union[langchain_core.messages.ai.AIMessage, langchain_core.messages.human.HumanMessage, langchain_core.messages.chat.ChatMessage, langchain_core.messages.system.SystemMessage, langchain_core.messages.function.FunctionMessage, langchain_core.messages.tool.ToolMessage]]}, partial_variables={'table_info': '\nCREATE TABLE amc_data (\n\tname TEXT\n)\n\n/*\n3 rows from amc_data table:\nname\nSahara Mutual Fund\nTaurus Mutual Fund\nBaroda Mutual Fund\n*/\n\n\nCREATE TABLE cleaned_flight_data (\n\t"FL_DATE" DATE, \n\t"DEP_DELAY" SMALLINT, \n\t"ARR_DELAY" SMALLINT, \n\t"AIR_TIME" SMALLINT, \n\t"DISTANCE" SMALLINT, \n\t"DEP_TIME" REAL, \n\t"ARR_TIME" REAL\n)\n\n/*\n3 rows from cleaned_flight_data table:\nFL_DATE\tDEP_DELAY\tARR_DELAY\tAIR_TIME\tDISTANCE\tDEP_TIME\tARR_TIME\n2006-01-01\t5\t19\t350\t2475\t9.083333\t12.483334\n2006-01-02\t167\t216\t343\t2475\t11.783334\t15.766666\n2006-01-03\t-7\t-2\t344\t2475\t8.883333\t12.133333\n*/', 'table_names': 'amc_data, cleaned_flight_data'}, messages=[HumanMessagePromptTemplate(prompt=PromptTemplate(input_variables=['input'], template='{input}')), AIMessage(content='I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.'), MessagesPlaceholder(variable_name='agent_scratchpad')])

In [23]:
from langchain.agents import create_openai_tools_agent
from langchain.agents.agent import AgentExecutor

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)

agent = create_openai_tools_agent(llm, tools, prompt)

agent_executor = AgentExecutor(
    agent=agent,
    tools=toolkit.get_tools(),
    verbose=True,
)

In [27]:
agent_executor.invoke({"input": "Describe the schema of the flight table"})

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


amc_data, cleaned_flight_data
Invoking: `sql_db_schema` with `{'table_names': 'cleaned_flight_data'}`



CREATE TABLE cleaned_flight_data (
	"FL_DATE" DATE,
	"DEP_DELAY" SMALLINT,
	"ARR_DELAY" SMALLINT,
	"AIR_TIME" SMALLINT,
	"DISTANCE" SMALLINT,
	"DEP_TIME" REAL,
	"ARR_TIME" REAL
)

/*
3 rows from cleaned_flight_data table:
FL_DATE	DEP_DELAY	ARR_DELAY	AIR_TIME	DISTANCE	DEP_TIME	ARR_TIME
2006-01-01	5	19	350	2475	9.083333	12.483334
2006-01-02	167	216	343	2475	11.783334	15.766666
2006-01-03	-7	-2	344	2475	8.883333	12.133333
*/The schema of the `cleaned_flight_data` table is as follows:

- `FL_DATE`: DATE
- `DEP_DELAY`: SMALLINT
- `ARR_DELAY`: SMALLINT
- `AIR_TIME`: SMALLINT
- `DISTANCE`: SMALLINT
- `DEP_TIME`: REAL
- `ARR_TIME`: REAL

Here are 3 sample rows from the `cleaned_flight_data` table:
1. FL_DATE: 2006-01-01, DEP_DELAY: 5, ARR_DELAY: 19, AIR_TIME: 350, DISTANCE: 2475, DEP_TIME: 9.083333, ARR_TIME: 12.483334
2. FL_DATE: 2006-01-02, DEP_DELAY: 167, ARR_DELAY: 216, AIR_TIME: 343, DISTANCE: 2475, DEP_TIME: 11.783334, ARR_TIME: 15.766666
3. FL_DATE: 2006-01-03, DEP_DELAY: -7, ARR_DELAY: -2, AIR_TIME: 344, DISTANCE: 2475, DEP_TIME: 8.883333, ARR_TIME: 12.133333

> Finished chain.

{'input': 'Describe the schema of the flight table',
 'output': 'The schema of the `cleaned_flight_data` table is as follows:\n\n- `FL_DATE`: DATE\n- `DEP_DELAY`: SMALLINT\n- `ARR_DELAY`: SMALLINT\n- `AIR_TIME`: SMALLINT\n- `DISTANCE`: SMALLINT\n- `DEP_TIME`: REAL\n- `ARR_TIME`: REAL\n\nHere are 3 sample rows from the `cleaned_flight_data` table:\n1. FL_DATE: 2006-01-01, DEP_DELAY: 5, ARR_DELAY: 19, AIR_TIME: 350, DISTANCE: 2475, DEP_TIME: 9.083333, ARR_TIME: 12.483334\n2. FL_DATE: 2006-01-02, DEP_DELAY: 167, ARR_DELAY: 216, AIR_TIME: 343, DISTANCE: 2475, DEP_TIME: 11.783334, ARR_TIME: 15.766666\n3. FL_DATE: 2006-01-03, DEP_DELAY: -7, ARR_DELAY: -2, AIR_TIME: 344, DISTANCE: 2475, DEP_TIME: 8.883333, ARR_TIME: 12.133333'}